@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@layer base {
  body {
    background-color: black;
    color: white;
    margin: 0;
  }
}

html {
  scroll-behavior: smooth;
}
